<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body style="background:#f1f5f9;">

<div class="login-container">

    <h2>Reset Password</h2>

    {% if message %}
        <p style="color:red;">{{ message }}</p>
    {% endif %}

    <form method="post">

        <label>Email</label>
        <input type="email" name="email" required>

        <label>New Password</label>
        <input type="password" name="new_password" required>

        <button type="submit">Reset Password</button>

    </form>

    <br>
    <a href="/">← Back to Login</a>

</div>

</body>
</html>
